/*
    General Styles
*/
html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;

    color: rgba(74, 74, 74, 1.00);

    box-sizing: border-box;
}

a {
    color: rgba(255, 109, 109, 1.00);
    font-weight: bold;
    font-size: 18px;
}
/*
    CALCULATE TEXT
*/
a:visited {
    color: rgb(7, 7, 7);
}

/*
    Layout
*/
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1.5rem 0 1.5rem;
}

header {
    flex: 0 1 100%;
}

#variables {
    margin-right: 2.5rem;
}

#variables, #result {
    flex: 0 1 calc(50% - 1.25rem);
}

#variables h2, #result h2 {
    margin-bottom: 1.25rem;
}

footer {
    flex: 0 1 100%;
}

/*
    Main content wrapper
*/
body {
    margin: 1rem auto;
    padding: 0 1.5rem 0 1.5rem;
    background-color:  #ffffff;
}

/*
    Header
*/
header {
    border-color: #25a2d38a;
    border-style: solid;
    border-radius: 3px;
    border-width: 0 0 1.5rem;

    padding: 0 1.5rem 0 1.5rem;

    margin: 0 0 2rem;
}

header a,
header a:visited,
header a:focus,
header a:active {
    color: rgba(74, 74, 74, 1.00);
    text-decoration: none;
}

header h1 {
    font-size: 4rem;
    font-weight: 800;

    text-transform: uppercase;

    margin: 0 0 -.75rem;
}

header .tagline {
    margin: 0 0 0.75rem;
}

/*
    Sections
*/
section {
    margin: 0 0 2rem;
}

section h2 {
    margin: 0 0 .75rem;

    text-transform: uppercase;
    color:rgb(0, 0, 0);
}
/*
    DISCLAIMER
*/
section p {
    max-width: 130ex;
    color:rgb(15, 15, 15);

}

/*
    RESULT
*/

.callout {
    background: rgba(164, 201, 201, 0.25);
    border-radius: 5px;

    font-size: 2.1rem;
    color:rgb(15, 15, 15);

    margin: 0 0 1.25rem;
    padding: 1rem 1.5rem;
}

.explanation {
    margin-bottom: 1rem;
}

/*
    Form labels
*/
label {
    display: flex;
    justify-content: space-between;

    padding: 0 0 .5rem;
    margin: 0 0 1rem;

    border-style: solid;
    border-width: 0 0 4px;
    border-color: #25a2d3;
    font-size: 1.5rem;
    color:rgb(27, 29, 28);
}

.label-text {
    display: inline-block;
    margin-top: .5rem;
    line-height: 1.5rem;
}

/*
    Input fields
*/
input, select, option, .checkbox-pseudo {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
}

input:focus, select:focus {
    text-decoration: underline;
    outline: none;
}

input {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;

    height: 2rem;
    line-height: normal;

    text-align: right;
    vertical-align: middle;
    max-width: 45%;
}

button{


color: rgb(133, 97, 97);
border-radius: 5px;
background-color: #006845;
border-color: rgba(41,117,96);
font-size: 10px;
outline: none ;
}
/*
    VARIABLE OPTIONS
*/
select, option {
    background: #61bbbb;
    border: none;
    border-radius: 5px;
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    color: rgba(4, 5, 5, 0.85);
}

select:focus {
   
}

/*
    Number fields
*/
input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*
    Checkboxes
*/
input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

input[type="checkbox"]:checked + .checkbox-pseudo:before {
    content: "Yes";
    cursor: pointer;
}

input[type="checkbox"] + .checkbox-pseudo:before {
    content: "No";
    cursor: pointer;
}

input[type="checkbox"]:focus  + .checkbox-pseudo:before {
    text-decoration: underline;
    background: rgba(255, 109, 109, 0.25);
}

/*
    Text selection
*/
::selection {
    background: rgba(255, 109, 109, 0.25);
}
::-moz-selection {
    background: rgba(255, 109, 109, 0.25);
}

/*
    Footer
*/

footer {
    margin: 3rem 0 0 0;

    border-color: rgba(255, 109, 109, 1.00);
    border-style: solid;
    border-width: 2px 0 0;

    padding: .25rem 1.5rem .25rem 1.5rem;

    font-size: 1rem;
}

/*
    Responsive Overrides
*/
@media (min-width: 740px) {
    body {
        width: 900px;
    }
}

@media (max-width: 740px) {

    html {
        padding: 0 1.5rem;
    }

    main {
        padding: 0;
    }

    body {
        padding: 0;
        width: 100%;
    }

    #variables, #result {
        margin: 0 0 1.5rem;
        flex: 0 1 100%;
        color:white;
    }

    header {
        padding: 0;
    }
}

/*
 button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

#testbutton {

  width: 300px;
  height:50px;
  border-radius:180px;
  position:relative;
  left:calc(50% - 75px);
  top:calc(50% - 25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  cursor:pointer;
  line-height:12px;
  box-shadow:0px 0px 40px 20px  #060707;
}

#testbutton:before {
  content:url();
  z-index:1;
  position:absolute;
  display:block;
  width:80%;
  height:70%;
  top:15%;
  left:10%;
  transition: 0.3s opacity ease-in-out;
  filter:blur(15px);
  opacity:0;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);

}

#testbutton:hover:before {
  opacity:1;
  transition: 0.3s opacity ease-in-out;
  filter:blur(25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
}

#testbutton:after {
  content: url(./../img/msantsi.png) "     " " SA IMPORT DUTIES";
  text-align:center;
  line-height:40px;
  font-size:18px;
  color:rgba(235,235,235,1);
  font-weight:bold;
  z-index:5;
  position:absolute;
  display:block;
  border-radius:180px;
  width:92%;
  height:80%;
  top:10%;
  left:4%;  
  background-color:rgb(19, 20, 22);

}

*/


.box{
  position:absolute;
  top:50%;
  left:50%;
  transform : translate(-50% ,-50%);

}

.btn:link,
.btn:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:0;
  left:0;
  padding:20px 40px;
  border-radius:10px;
  display:inline-block;
  transition: all .5s;
}
/*
    CALCULATE BUTTON
*/
.btn-white{
  background: #61bbbb;
  font-size: 15px;
  color:rgb(14, 12, 12);
}

.btn:hover{
   box-shadow:0px 10px 10px linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
   transform : translateY(-3px);
}

.btn:active{
  box-shadow:0px 5px 10px rgba(0,0,0,0.2)
  transform:translateY(-1px);
}

.btn-bottom-animation-1{
  animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:10px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}

.btn-white::after {
    background: #fff;
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom{
  0%{
    opacity:0;
    transform:translateY(40px);
  } 
  100%{
    opacity:1;
    transform:translateY(0);
  }
}